@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:100px;">
    <h1 class="display-4">Welcome to YS ERP demo</h1>
    <p>The site is built with ASP.NET Core</p>
</div>
