@{
    ViewData["Title"] = "ProductList3";
}

<h2>Product List using API</h2>

<p>
    <a href="#">Create New</a>
</p>
<input type="text" id="searchInput" placeholder="Enter keyword" />
<button id="searchButton">Search</button>
<table class="table">
    <thead>
        <tr>
            <th>
               Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Stock Quantity
            </th>
            <th>
                Category
            </th>
            <th>
                Supplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        
    </tbody>
</table>
@section Scripts {
    <script src="~/js/frontend/ProductList3.js"></script>
}
