@model prjErpDemo.Models.User

@{
    ViewData["Title"] = "Update Permission";
    string targetUser = @Model.AccountName;
}

<h2>Update the user (@targetUser) access level</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group" style="margin-bottom:10px;">
                <label asp-for="Permission" class="control-label">Access Level</label>
                <select asp-for="Permission" class="form-control">
                    <option value="1">admin</option>
                    <option value="2">viewer</option>
                </select>
                <span asp-validation-for="Permission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
